/* VENDORS */
@import 'normalize.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* HELPERS */
@import './constants.css';
@import './mixins.css';

html, body {
  width: 100%;
  height: 100%;
  font: $f_stack_ui;
}

* {
  box-sizing: border-box;
}