$c_primary: #f79d00;
$c_secondary: #64f38c;

:host {
  display: block;
  margin: 0 24px;
  width: 100%;
  min-width: 272px;
  max-width: 720px;

  .mat-card-header {
    font-size: 1.5em;
    border-bottom: 1px solid $c_primary;
  }

  .mat-card-content {
    text-align: center;
  }

  .mat-input-container {
    width: 100%;
    font-size: 1.5em;

    /deep/ .mat-input-placeholder {
      text-align: center;
    }

    .mat-input-element {
      text-align: center;
      padding-left: 15px;
    }
  }

  table {
    padding: 24px 0;
    width: 100%;

    td {
      padding: 0 24px;
    }
  }

  /* background: #ffd89b linear-gradient(to left, #ffd89b, #19547b); */
  /* background: #e96443 linear-gradient(to left, #e96443, #904e95); */
  /* background: #eecda3 linear-gradient(to left, #eecda3, #ef629f); */
}        