@import '/styles/constants.css';
@import '/styles/mixins.css';
$c_primary: #f3904f;
$c_secondary: #3b4371;

:host {
  display: block;
  margin: 0 24px;
  width: 100%;
  min-width: 272px;
  max-width: 720px;

  .mat-card {
    position: relative;
    background: linear-gradient(to bottom, #fff, #f5f2f0 1rem);

    /*
    border-radius: 6px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    */

    &-header {
      font-size: 1.5em;
      border-bottom: 1px solid $c_primary;

      .close {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        width: 0.9rem;
        height: 0.9rem;
        line-height: 0.8rem;
        color: #4b0102;
        font-size: 0.5rem;
        text-align: center;
        border: 1px solid #db4542;
        border-radius: 50%;
        background: #fa625d;
      }
    }

    &-content {
      display: flex;
      flex: 1;
      flex-flow: column wrap;

      .content {
        position: absolute;
        margin: 0;
        padding: 1rem;
        width: 70%;
        height: calc(100% - 4rem);
        z-index: 2;
        font: $f_stack_console;
        white-space: pre;
        overflow-y: auto;
        overflow-y: auto;
        pointer-events: none;
        pointer-events: none;

        /deep/ i {
          font-style: normal;

          &.operator {
            color: blue;
          }

          &.unit {
            color: red;
          }
        }
      }

      textarea {
        position: relative;
        padding: 1rem;
        width: 70%;
        height: 100%;
        appearance: none;
        z-index: 1;
        color: transparent;
        caret-color: #000;
        font: $f_stack_console;
        resize: none;
        outline: none;
        border: 0;
        background: none;
      }

      aside {
        padding: 1rem;
        width: 30%;
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
